:root {
  --select-height: 2.75em;
  --select-horizontal-padding: 1.25em;
  --border-width: 0.2rem;
}

.select-wrapper {
  position: relative;
  display: block;
  padding: var(--border-width);
  color: var(--theme-button-text);
}

.select-wrapper::after {
  content: '';
  position: absolute;
  top: var(--border-width);
  right: var(--border-width);
  height: 2.75em;
  width: 2.75em;
  pointer-events: none;
  background-color: var(--theme-darkgray);
  background-image: url('./resources/arrow.svg');
  background-repeat: no-repeat;
  background-position: center center;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.select {
  display: block;
  width: 100%;
  margin: 0;
  padding-left: var(--select-horizontal-padding);
  padding-right: calc(var(--select-horizontal-padding) + var(--select-height));
  height: var(--select-height);
  font-size: 16px;
  line-height: var(--select-height);
  color: #000;
  background-color: #fff;
  border: 0;
  border-radius: 0.25em;
  cursor: pointer;
  outline: 0;
  box-shadow: 0 0 0 0.075rem #fff,
    0 0 0 var(--border-width) var(--theme-borders);
  appearance: none;
  transition: box-shadow 0.2s;
}

.root_invalid .select {
  box-shadow: 0 0 0 0.075rem #fff, 0 0 0 var(--border-width) var(--theme-danger);
}

/* Focus */
.root:not(.root_invalid) .select:focus,
.root:not(.root_invalid) .select:hover {
  box-shadow: 0 0 0 0.075rem #fff,
    0 0 0 var(--border-width) var(--theme-primary);
  transition: none;
}

/* Hide the arrow in IE10 and up */
.select::-ms-expand {
  display: none;
}

/* <option> elements inherit styles from <select>, so reset them. */
.select option {
  background-color: #fff;
  color: #000;
}

/* Media query to target Firefox only */
@-moz-document url-prefix() {
  /* Firefox hack to hide the arrow */
  .select {
    text-indent: 0.01px;
    text-overflow: '';
    padding-right: 1rem;
  }
}

/* IE9 hack to hide the arrow */
@media screen and (min-width: 0\0) {
  .select {
    z-index: 1;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
  }

  .select-wrapper::after {
    z-index: 5;
  }

  .select-wrapper::before {
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    z-index: 2;
    content: '';
    display: block;
    width: 1.5rem;
    background-color: var(--theme-button-bg);
  }

  .select:hover,
  .select:focus,
  .select:active {
    color: var(--theme-button-text);
    background-color: var(--theme-button-bg-active);
  }
}
