:root {
  --panel-padding-vertical: 15px;
  --panel-padding-horizontal: 20px;
  --panel-padding-vertical-desktop: 30px;
  --panel-padding-horizontal-desktop: 40px;
}

.root {
  padding: var(--panel-padding-vertical) var(--panel-padding-horizontal);
  border-radius: 6px;
  background-color: #fff;
  box-shadow: var(--theme-panel-shadow);

  @media (--desktop) {
    padding: var(--panel-padding-vertical-desktop)
      var(--panel-padding-horizontal-desktop);
  }
}

.root + .root {
  margin-top: 20px;
}

.separator {
  display: block;
  height: 1px;
  margin: var(--panel-padding-vertical)
    calc(var(--panel-padding-horizontal) * -1);
  background-color: var(--theme-borders);

  @media (--desktop) {
    margin: var(--panel-padding-vertical-desktop)
      calc(var(--panel-padding-horizontal-desktop) * -1);
  }
}
