{
  "extends": ["@daonomic/eslint-config", "plugin:import/errors"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "postcss.config.js",
          "styleguide.config.js",
          "**/story.js",
          "**/*.spec.js"
        ]
      }
    ]
  }
}
