.root {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 2em;
  color: var(--color-primary);
  background-color: color(var(--color-primary) alpha(10%));
}

/* Size */

.root_size_s {
  font-size: var(--typo-size-xxs);
  line-height: var(--typo-line-height-xxs);
}

.root_size_m {
  font-size: var(--typo-size-xs);
  line-height: var(--typo-line-height-xs);
}

/* Color */
.root_color_primary {
  color: var(--color-primary);
  background-color: color(var(--color-primary) alpha(10%));
}

.root_color_warning {
  color: var(--color-warning);
  background-color: color(var(--color-warning) alpha(10%));
}

.root_color_danger {
  color: var(--color-danger);
  background-color: color(var(--color-danger) alpha(10%));
}

.root_color_success {
  color: var(--color-success);
  background-color: color(var(--color-success) alpha(10%));
}

.root_uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
