.root {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: var(--color-primary-opposite);
  background-color: var(--color-primary);
}

.root_size_s {
  font-size: var(--typo-size-xxs);
  line-height: var(--typo-line-height-xxs);
}

.root_size_m {
  font-size: var(--typo-size-xs);
  line-height: var(--typo-line-height-xs);
}

.root_color_primary {
  color: var(--color-primary-opposite);
  background-color: var(--color-primary);
}

.root_color_warning {
  color: var(--color-warning-opposite);
  background-color: var(--color-warning);
}

.root_color_danger {
  color: var(--color-danger-opposite);
  background-color: var(--color-danger);
}

.root_color_success {
  color: var(--color-success-opposite);
  background-color: var(--color-success);
}

.root_uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
