.list {
  display: flex;
  list-style: none;
}

.button {
  position: relative;
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  min-width: 32px;
  margin-right: 4px;
  color: var(--color-primary);
  font-family: inherit;
  font-size: 13px;
  line-height: calc(17 / 13);
  background: none;
  background-color: transparent;
  border: none;
  border-radius: 16px;
  cursor: pointer;

  @media (--tablet) {
    padding: 0.75em 1em;
  }
}

.button:matches(:focus, :hover, :active) {
  z-index: 1;
}

.button:focus {
  outline: 2px solid var(--color-primary);
}

.button:not(:disabled):matches(:hover, :active) {
  background-color: color(var(--color-primary) alpha(10%));
  transition: none;
}

.button:disabled {
  cursor: default;
}

.button_active,
.button_active:hover {
  color: var(--color-primary-opposite);
  background-color: var(--color-primary);
}
