.root {
  display: inline-block;
}

.tooltip {
  position: absolute;
  z-index: 1000;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  font-size: 12px;
  line-height: 16px;
  border-radius: 5px;
  color: white;
  background: #333;
}

.arrow {
  position: absolute;
  z-index: 1001;
  width: 0;
  height: 0;
}

.arrow_up {
  border-top: 10px solid #333;
}

.arrow_down {
  border-bottom: 10px solid #333;
}

.arrow_right {
  border-right: 10px solid #333;
}

.arrow_left {
  border-left: 10px solid #333;
}
