.root {
  box-sizing: border-box;
  appearance: none;
  display: block;
  width: 100%;
  padding: var(--theme-control-padding-vertical)
    var(--theme-control-padding-horizontal);
  line-height: 1;
  font-size: 16px;
  line-height: 1.5;
  color: var(--theme-control-text);
  outline: 0;
  border: 0;
  border-radius: 0.25em;
  border: 1px solid var(--theme-control-border);
  background-color: var(--theme-control-background);
  transition: border 0.2s;
}

.root:-webkit-autofill {
  /* this prevents autofilled input background-color change in Chrome */
  transition: background-color 5000s ease-in-out 0s;
}

.root:focus {
  border-color: var(--theme-control-focus-border);
  box-shadow: 0 0 0 3px var(--theme-control-focus-shadow);
}

.root:invalid {
  box-shadow: none; /* disable unnecessary :invalid box-shadow in Firefox */
}

.root_invalid {
  border-color: var(--theme-control-invalid-border);
  box-shadow: 0 0 0 3px var(--theme-control-invalid-shadow);
}

.root_disabled {
  cursor: not-allowed;
  border-color: var(--theme-control-disabled-border);
  background-color: var(--theme-control-disabled-background);
}

.root_textarea {
  resize: vertical;
}
