.root {
  position: relative;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.root::before {
  content: '';
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background: var(--color-borders);
}

.content {
  position: relative;
  z-index: 1;
  padding-left: 1em;
  padding-right: 1em;
  background: #fff;
}
