:root {
  --close-button-size: 24px;
  --content-padding: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 0.75);
}

.window {
  position: relative;
  flex: 0 1 32em;
  max-width: 100%;
  padding-top: 0;
  overflow: auto;
  border-radius: 6px;
  border: 1px solid rgb(204, 204, 204);
  outline: currentcolor none medium;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--content-padding);
  padding-top: calc(var(--content-padding) * 0.75);
  border-bottom: 1px solid var(--color-borders);
}

.close {
  appearance: none;
  margin: 0;
  padding: 0;
  font: inherit;
  border: 0;
  outline: 0;
  width: var(--close-button-size);
  height: var(--close-button-size);
  background: transparent;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  background-image: url('./resources/cross.svg');
  background-size: var(--close-button-size);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.close:focus {
  outline: 1px solid var(--color-primary);
}

.content {
  padding: var(--content-padding);
}
