:root {
  --theme-text: #222;

  --theme-primary: #4786ff;
  --theme-primary-opposite: #fff;

  --theme-danger: #fc4b4e;
  --theme-danger-opposite: #fff;

  --theme-warning: #ffc107;
  --theme-warning-opposite: #222;

  --theme-success: #28a745;
  --theme-success-opposite: #fff;

  --theme-muted: #8492a5;
  --theme-page-bg: #f5f7fa;
  --theme-borders: rgba(132, 146, 165, 0.24);
}
