:root {
  --color-black: #242d34;
  --color-black-secondary: #50575c;

  --color-primary: #4786ff;
  --color-primary-opposite: #fff;

  --color-success: #8cc152;
  --color-success-opposite: #fff;

  --color-warning: #fcb628;
  --color-warning-opposite: var(--color-black);

  --color-danger: #ff6666;
  --color-danger-opposite: #fff;

  --color-text: var(--color-black);
  --color-text-muted: var(--color-black-secondary);
  --color-text-primary: #3173ed;
  --color-text-success: #55aa00;
  --color-text-warning: #ec9e00;
  --color-text-danger: #fd5555;
  --color-labels: #73797d;
  --color-placeholders: #969b9e;

  --color-page-bg: #f5f7fa;
  --color-borders: rgba(0, 0, 0, 0.2);
}
