:root {
  --typo-font-family-main: Open Sans, Arial, Helvetica, sans-serif;

  --typo-size-m: 16px;
  --typo-line-height-m: 1.375;

  --typo-size-s: 14px;
  --typo-line-height-s: calc(20 / 14);

  --typo-size-xs: 12px;
  --typo-line-height-xs: calc(16 / 12);

  --typo-size-xxs: 10px;
  --typo-line-height-xs: 1.4;
}
