.field:not(:last-child),
.group:not(:last-child) {
  padding-bottom: 25px;
}

@media (--tablet) {
  .group {
    display: flex;
    align-items: flex-start;
  }

  .group .field {
    flex: 1 1 100%;
    margin: 0.5em;
  }

  .group .field:first-child {
    margin-left: 0;
  }

  .group .field:last-child {
    margin-right: 0;
  }

  .group .field_with-ghost-label {
    padding-top: var(--control-label-height);
  }

  .group > .field:not(:last-child) {
    padding-bottom: 0;
  }
}
