.root {
  box-sizing: border-box;
  appearance: none;
  display: block;
  width: 100%;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  line-height: 1;
  font-size: var(--typo-size-m);
  line-height: var(--typo-line-height-m);
  color: var(--color-text);
  outline: 0;
  border: 0;
  border: none;
  border-bottom: 1px solid #e7eaee;
  background-color: var(--control-background);
  transition: border 0.2s;
}

.root:-webkit-autofill {
  /* this prevents autofilled input background-color change in Chrome */
  transition: background-color 5000s ease-in-out 0s;
}

.root:invalid {
  box-shadow: none; /* disable unnecessary :invalid box-shadow in Firefox */
}

.root:focus {
  border-color: var(--theme-control-focus-border);
}

.root_invalid {
  border-color: var(--color-danger);
}

.root_disabled {
  opacity: 0.65;
  cursor: not-allowed;
  color: #8492a5;
}

.root_textarea {
  resize: vertical;
}
