:root {
  --meter-height: 12px;
}

.root {
  position: relative;
  display: block;
  width: 100%;
  min-width: var(--meter-height);
  height: var(--meter-height);
}

.bar {
  height: 100%;
  border-radius: var(--meter-height);
}

.bar_background {
  background-color: rgba(192, 204, 217, 0.32);
}

.bar_foreground {
  position: absolute;
  top: 0;
  left: 0;
  min-width: var(--meter-height);
  background-color: var(--color-primary);
}
