.root {
  display: inline-block;
  padding: 0.125em 0.5em;
  font-size: 16px;
  line-height: 1.35;
  border-radius: 0.25em;
  color: var(--theme-primary-opposite);
  background-color: var(--theme-primary);
}

.root_size_s {
  font-size: 12px;
}

.root_size_m {
  font-size: 16px;
}

.root_color_primary {
  color: var(--theme-primary-opposite);
  background-color: var(--theme-primary);
}

.root_color_warning {
  color: var(--theme-warning-opposite);
  background-color: var(--theme-warning);
}

.root_color_danger {
  color: var(--theme-danger-opposite);
  background-color: var(--theme-danger);
}

.root_color_success {
  color: var(--theme-success-opposite);
  background-color: var(--theme-success);
}

.root_uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
