.root {
  display: inline-block;
  padding: 0.125em 0.5em;
  font-size: 16px;
  line-height: 1.35;
  border-radius: 0.25em;
  color: var(--theme-primary-opposite);
  background-color: var(--theme-primary);
}
