.root {
  box-sizing: border-box;
  display: table;
  height: var(--control-label-height);
  font-size: var(--typo-size-xs);
  line-height: var(--typo-line-height-xs);
  color: var(--color-labels);
  transition: all 0.2s;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
