.root {
  padding: var(--panel-padding-vertical) var(--panel-padding-horizontal);
  border-radius: 6px;
  background-color: #fff;
  box-shadow: var(--panel-shadow);

  @media (--desktop) {
    padding: var(--panel-padding-vertical-desktop)
      var(--panel-padding-horizontal-desktop);
  }
}

.root + .root {
  margin-top: 20px;
}

.separator {
  display: block;
  height: 1px;
  margin: var(--panel-padding-vertical)
    calc(var(--panel-padding-horizontal) * -1);
  background-color: var(--color-borders);

  @media (--desktop) {
    margin: var(--panel-padding-vertical-desktop)
      calc(var(--panel-padding-horizontal-desktop) * -1);
  }
}

.separator + .separator {
  display: none;
}
