@custom-media --tablet (min-width: 480px);
@custom-media --desktop (min-width: 960px);

:root {
  --theme-primary: #4786ff;
  --theme-primary-opposite: #fff;
  --theme-text: #222;
  --theme-danger: #fc4b4e;
  --theme-muted: #8492a5;
  --theme-page-bg: #f5f7fa;
  --theme-borders: rgba(132, 146, 165, 0.24);
  --theme-darkgray: rgba(132, 146, 165, 0.7);

  --theme-button-bg: var(--theme-primary);
  --theme-button-bg-active: color(var(--theme-button-bg) blackness(20%));
  --theme-button-bg-disabled: #f5f7fa;
  --theme-button-text: var(--theme-primary-opposite);
  --theme-button-text-disabled: var(--theme-muted);

  --theme-control-padding-vertical: 0.375rem;
  --theme-control-padding-horizontal: 0.75em;
  --theme-control-border: var(--theme-borders);
  --theme-control-background: #fff;
  --theme-control-text: var(--theme-text);
  --theme-control-focus-border: var(--theme-primary);
  --theme-control-focus-shadow: color(var(--theme-primary) alpha(25%));
  --theme-control-invalid-border: var(--theme-danger);
  --theme-control-invalid-shadow: color(var(--theme-danger) alpha(25%));
  --theme-control-disabled-border: var(--theme-borders);
  --theme-control-disabled-background: color(var(--theme-borders) alpha(10%));

  --theme-control---theme-panel-bg: #fff;
  --theme-panel-shadow: rgba(36, 45, 52, 0.1);
}
