.root {
  appearance: none;
  display: inline-flex;
  align-items: center;
  padding: 0;
  padding-left: 1em;
  padding-right: 1em;
  white-space: nowrap;
  font: inherit;
  line-height: 1;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.2s;
  user-select: none;
}

.root_disabled {
  opacity: 0.65;
  cursor: default;
}

.root_size_s {
  height: var(--control-height-s);
  font-size: var(--typo-size-xs);
}

.root_size_m {
  height: var(--control-height-m);
  font-size: var(--typo-size-s);
}

.root_size_l {
  height: var(--control-height-l);
  font-size: var(--typo-size-m);
}

.root_disabled {
  opacity: 0.5;
  cursor: default;
}

.root:not(.root_disabled):focus {
  box-shadow: var(--button-primary-shadow), var(--control-focus-shadow);
}

.root_design_primary {
  color: var(--button-primary-text-color);
  background: var(--button-primary-background);
  border: var(--button-primary-border);
  box-shadow: var(--button-primary-shadow);
}

.root_design_primary:not(.root_disabled):hover,
.root_design_primary:not(.root_disabled):focus {
  background: var(--button-primary-hover-background);
}

.root_design_primary:not(.root_disabled):active {
  background: var(--button-primary-active-background);
}

.root_design_secondary {
  background: var(--button-secondary-background);
  color: var(--button-secondary-text-color);
  border: var(--button-secondary-border);
  box-shadow: var(--button-secondary-shadow);
}

.root_design_secondary:not(.root_disabled):hover,
.root_design_secondary:not(.root_disabled):focus {
  background: var(--button-secondary-hover-background);
}

.root_design_secondary:not(.root_disabled):active {
  background: var(--button-secondary-active-background);
}
