.root {
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding-left: 1em;
  padding-right: 1em;
  white-space: nowrap;
  font: inherit;
  line-height: 1;
  background: none;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.2s;
  user-select: none;
}

.root,
.root:hover,
.root:active,
.root:focus {
  text-decoration: none;
}

.root:focus {
  outline: 0;
}

.root_disabled {
  opacity: 0.65;
  cursor: default;
}

.root_fullwidth {
  display: flex;
  width: 100%;
}

.root_size_s {
  height: var(--control-height-s);
  font-size: var(--typo-size-xs);
}

.root_size_m {
  height: var(--control-height-m);
  font-size: var(--typo-size-s);
}

.root_disabled {
  opacity: 0.5;
  cursor: default;
}

.root:not(.root_disabled):focus {
  box-shadow: var(--button-primary-shadow), var(--control-focus-shadow);
}

.root_design_primary {
  background: var(--button-primary-background);
  border: var(--button-primary-border);
  box-shadow: var(--button-primary-shadow);
}

.root_design_primary,
.root_design_primary:hover,
.root_design_primary:active,
.root_design_primary:focus {
  color: var(--button-primary-text-color);
}

.root_design_primary:not(.root_disabled):hover,
.root_design_primary:not(.root_disabled):focus {
  background: var(--button-primary-hover-background);
}

.root_design_primary:not(.root_disabled):active {
  background: var(--button-primary-active-background);
}

.root_design_secondary {
  background: var(--button-secondary-background);
  border: var(--button-secondary-border);
  box-shadow: var(--button-secondary-shadow);
}

.root_design_secondary,
.root_design_secondary:hover,
.root_design_secondary:active,
.root_design_secondary:focus {
  color: var(--button-secondary-text-color);
}

.root_design_secondary:not(.root_disabled):hover,
.root_design_secondary:not(.root_disabled):focus {
  background: var(--button-secondary-hover-background);
}

.root_design_secondary:not(.root_disabled):active {
  background: var(--button-secondary-active-background);
}
