:root {
  --checkbox-border-color: #9a9fa3;
}

.root {
  position: relative;
  padding-left: 1.5em;
  line-height: 1.5em;
}

.label {
  display: block;
  cursor: pointer;
}

.input,
.indicator {
  position: absolute;
  top: 0.25em;
  left: 0;
}

.input {
  opacity: 0;
  z-index: -1;
}

.indicator {
  display: block;
  width: 1em;
  height: 1em;
  background-color: var(--control-background);
  border: 2px solid var(--checkbox-border-color);
  background-size: 0.75em 0.5625em;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 0.25em;
}

.input:focus ~ .indicator {
  border-color: var(--color-primary);
}

.input:checked ~ .indicator {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

.input:checked ~ .indicator {
  background-image: url('./resources/check.svg');
}

.input:disabled ~ .indicator {
  border-color: color(var(--checkbox-border-color) alpha(30%));
  background-color: color(var(--checkbox-border-color) alpha(10%));
}

.text {
  display: inline-block;
  vertical-align: top;
}
