:root {
  --checkbox-size: 16px;
  --checkbox-safe-area: 4px;
  --checkbox-top-spacing: calc(
    (
        var(--control-height-m) - var(--checkbox-size) -
          var(--checkbox-safe-area) * 2
      ) / 2
  );
  --checkbox-border-color: #9a9fa3;
}

.root {
  line-height: 1.5em;
}

.label,
.hints {
  padding-left: 24px;
}

.label {
  position: relative;
  display: block;
  min-height: var(--control-height-m);
  padding-top: var(--checkbox-top-spacing);
  padding-bottom: var(--checkbox-top-spacing);
  cursor: pointer;
}

.input,
.indicator {
  position: absolute;
  top: calc(var(--checkbox-top-spacing) + 0.25em);
  left: 0;
}

.input {
  opacity: 0;
  z-index: -1;
}

.indicator {
  display: block;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  background-color: var(--control-background);
  border: 2px solid var(--checkbox-border-color);
  background-size: 0.75em 0.5625em;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 0.25em;
}

.input:focus ~ .indicator {
  border-color: var(--color-primary);
}

.input:checked ~ .indicator {
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}

.input:checked ~ .indicator {
  background-image: url('./resources/check.svg');
}

.input:disabled ~ .indicator {
  border-color: color(var(--checkbox-border-color) alpha(30%));
  background-color: color(var(--checkbox-border-color) alpha(10%));
}

.text {
  display: inline-block;
  vertical-align: top;
}
