.root {
  position: relative;
}

.placeholder {
  padding: 20px;
  text-align: center;
  color: var(--color-text-muted);
  border-top: 1px solid var(--color-borders);
}

.illustration {
  width: auto;
  height: 80px;
  margin-bottom: 15px;
}

.root_loading .table {
  opacity: 0.5;
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
